{%extends 'base.html' %}
<!-- 
here you view the invigilators that you (the logged in user) has registered. 
they can also be edited from here.
they can all be deleted from here.  
-->
{%block head%}
<script src='//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js'></script>
<script type='text/javascript' src='/static/sidebar.js'></script>
<script type='text/javascript' src='/static/tables.js'></script>
{%endblock%}
{%block title%}Registered Invigilators{%endblock%}

{%block content%}
    <h1>Registered Invigilators</h1>

    <form action='' method='post' onsubmit='return drop("invigilator");'>
        {% csrf_token %}
        <!-- {{ form.as_p }} -->
        <table>
<!-- displays records -->
         <tr>
                <!-- <th class='wide'>School</th> -->
                <th>First Name</th>
                <th>Surname</th>
                <!-- <th>Venue</th> -->
                <!-- <th>Invig/Reg</th> -->
                <th>Phone </th>
                <th>Phone (Alt)</th>                
                <th>Email</th>
                <th>Notes</th>
                <th class= 'narrow'></th>
            </tr>
            {%for i in invigilators%}
                <tr id='show{{i.id}}' >
                <!-- <td class='wide'>{{i.school}}</td> -->
                <td>{{i.firstname}}</td>
                <td>{{i.surname}}</td>
                <!-- <td>{{i.venue}}</td> -->
                <!-- <td>{{i.inv_reg}}</td> -->
                <td>{{i.phone_primary}}</td>
                <td>{{i.phone_alt}}</td>
                <td>{{i.email}}</td>                
                <td>{{i.notes}}</td>
                <td>
                    <!-- <input id='{{i.id}}' class='bluebutton narrow right editbutton' onClick='show_input(this.id)' value='edit'> -->
                    <input id='{{i.id}}' name='del_invig{{i.id}}' class='bluebutton narrow' type='submit' value='X'>
                </td>
            {%endfor%}

        </table>
    </form>
{%endblock%}>
