{% extends "plain_base.html" %}
<!-- 
log in page. 
redirects to index view if cancelled.
redirects to profile view if successful.
-->
{% load i18n %}
{% load account %}
{% load url from future %}
{%block title%}Log in{%endblock%}
{% block head %}
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <link rel="stylesheet" href="/static/login.css" type="text/css" />
{%endblock%}

{% block content %}


<!-- below comment is for social account login (have not looked at it. needs more setup to work.) -->

<!-- {% if socialaccount.providers  %}
<p>{% blocktrans with site.name as site_name %}Please sign in with one
of your existing third party accounts. Or, <a href="{{ signup_url }}">sign up</a> 
for a {{site_name}} account and sign in below:{% endblocktrans %}</p>

<div class="socialaccount_ballot">

  <ul class="socialaccount_providers">
    {% include "socialaccount/snippets/provider_list.html" with process="login" %}
  </ul>

  <div class="login-or">{% trans 'or' %}</div>

</div>

{% include "socialaccount/snippets/login_extra.html" %}

{% endif %} -->
<!-- <div class="wrapper">
  <form class="form1" method="POST" action="{% url 'account_login' %}">
    <div class="formtitle">Login to your account</div>
    {% csrf_token %}
    {{ form.as_p }}
    {% if redirect_field_value %}
    <div class="input">
        <div class="inputtext">Username: </div>
        <div class="inputcontent">
          <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
        </div>
      </div>
    {% endif %}
    <a class="button secondaryAction" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
    <button class="primaryAction" type="submit">{% trans "Sign In" %}</button>
  </form>
</div> -->

<div class="wrapper">

    <form class="form1" method="POST" action="{% url 'account_login' %}">

      <div class="formtitle"> Log in to your account</div>
      {% csrf_token %}
      {{ form.as_p }}
      {% if redirect_field_value %}
      {% endif %}
	  <p style="text-align:center;"> <a href='/resetpassword'>Forgot password? </a> </p>
	  <p style="text-align:center;"> <a href='../signup'>Sign up for an account </a> </p>
      <div class="buttons" style="text-align:center;">

        <input class="bluebutton right" type="submit" value="Login">
      </div>


{% endblock %}

