{% extends 'admin/change_list.html' %}

{% block object-tools %}
    <style>
        .actionButton {
            width: 30%;
            background-color: whitesmoke;
            padding: 10px;
        }
    </style>
    
    <div>
        <form action="assign_school_ranks/" method="POST">
            {% csrf_token %}
                <button type="submit" class="actionButton">Assign rank based on score to schools</button>
        </form>
        <form action="school_summary/" method="POST">
            {% csrf_token %}
                <button type="submit" class="actionButton">Schools summary (.xls)</button>
        </form>
        <form action="update_school_entry_status/" method="POST">
            {% csrf_token %}
                <button type="submit" class="actionButton">Update/Refresh schools' entry status</button>
        </form>
        <form action="school_certificate_list/" method="POST">
            {% csrf_token %}
                <button type="submit" class="actionButton">Download school certificate list</button>
        </form>
        <form action="generate_grade_answer_sheets/" method="POST">
            {% csrf_token %}
                <button type="submit" class="actionButton">Generate answer sheets for entered students separated by grade</button>
        </form>
    </div>
    <br />
    {{ block.super }}
{% endblock %}