{% extends 'admin/change_list.html' %}

{% block object-tools %}
    <div>
        <form action="upload_results/" method="POST">
            {% csrf_token %}
                <button type="submit">Upload students\' results (.RES file required)</button>
        </form>
        <form action="rank_students/" method="POST">
            {% csrf_token %}
                <button type="submit">Re-rank students.</button>
        </form>
        <form action="output_assign_awards/" method="POST">
            {% csrf_token %}
                <button type="submit">Export Award (.xls) document</button>
        </form>
        <form action="output_PRN_files/" method="POST">
            {% csrf_token %}
                <button type="submit">Generate PRN files for all students</button>
        </form>
        <form action="assign_student_awards/" method="POST">
            {% csrf_token %}
                <button type="submit">Assign student awards</button>
        </form>
    </div>
    <br />
    {{ block.super }}
{% endblock %}