{% extends 'admin/change_list.html' %}

{% block object-tools-items %}
    <li><a href="assign_school_ranks/" class="export_link">Assign school ranks</a></li>
    <li><a href="school_summary/" class="export_link">Export School Summary </a></li>
    <li><a href="update_school_entry_status/" class="export_link">Update school entry status</a></li>
    <li><a href="school_certificate_list/" class="export_link">Export School Certificate List</a></li>
    <li><a href="generate_grade_answer_sheets/" class="export_link">Generate Grade Answer Sheets</a></li>
{% endblock%}