{% extends "admin/base_site.html" %}
{% block title %}Upload Declaration Form{% endblock %}
 
{% block content %}
<p> Please select the .pdf file that is the Declaration form to be appended to the answer sheets. If there is no declaration for this year's competition, please upload a blank pdf. </p>
<form enctype="multipart/form-data" method="post">
   {% csrf_token %}   
   <table>
       {{fileUpload.as_table}}
    </table>
    <input type="submit" value="Submit" id="Save"/>
</form>

    <p>
    {%for error in handler_output%}
    {{error}}<br>
    {% endfor %}
    </p>
    
{% endblock %}
