{% load url from future %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">

<head>
 	<link rel="stylesheet" href="static/style.css" type="text/css" />
  	<title>UCT Maths Competition Portal</title>
	{% block extra_head %}
	{% endblock %}
</head>

<body>
	<!-- header -->
	<div class="header">


		<table align='center'>
		<tr>
			<td><img src='static/uct.gif' width='70'align='left' padding='100'/></td>
			<td><div class='title'>UCT Maths Competition<div/>
				<div class="byline">Administration Portal</div>
			</td>
			<td><img src="static/maths.gif" width='70'/></td>
		</tr>
		</table>
	</div>

	<!-- sidebar -->
	<div id='sidebar'>
		<div class="box">
				<div class="head">
					<h2>Register</h2>
				</div>
				<ul class="style1">
					<li><a href="#">Students</a></li>
					<li><a href="#">Your School</a></li>
					<li><a href="#">Invigilators</a></li>
				</ul>
			</div>
			<div class="box">
				<div class="head">
					<h2>View</h2>
				</div>
				<ul class="style1">
					<li><a href="#">Your Profile</a></li>
					<li><a href="#">Registered Students</a></li>
					<li><a href="#">Registered Invigilators</a></li>
				</ul>
			</div>
	</div>

	<!-- content -->
	<div>
	{% block content %}
    {% endblock %}
	</div>

</body>
</html>
