#pop a span {display: none;}

#pop a:hover span {display: block;}

/*HOVER POPUP LINKS*/

/*hoverpopups type 1*/

#popup { }

#popup a:link {
	color: black;
}
#popup a, #popup a:visited {
	position: relative;
	display: block;
	text-decoration: none;
	color: black;
	font-weight: normal;
}

#popup a span {
	display: none;
}


/* the IE correction rule */
#popup a:hover	{
	color: #f00; 
	background-color: #e9e9e2;
	text-indent: 0; /* added the default value */
}

#popup a:hover span {
	display: block;
	position: absolute;
	top: 00px;
	left: 250px;
	width: 420px;
	margin: 0px;
	padding: 10px;
	color: #335500;
	font-weight: normal;
	background: #e5e5e5;
	text-align: justify;
	border: 1px solid #666;
}


/*THUMBNAIL HOVERPOPUPS*/

.thumbnail  {
	position: relative;
	float: left;
	padding: 5px;
	/*z-index: 0;*/
}

.thumbnail:hover {
	background-color: #e9e9e2;
	/*z-index: 50;*/
	color: #335500;
	text-decoration: none;
}

.thumbnail span { /*CSS for enlarged image*/
	position: absolute;
	background-color: #e5e5e5;
	padding: 5px;
	/*left: -1000px;*/
	border: 1px solid #666;
	visibility: hidden;
	color: black;
	text-decoration: none;
}

.thumbnail span img { /*CSS for enlarged image*/
	border-width: 0px; 
	/*padding: 2px;*/
}

.thumbnail:hover span { /*CSS for enlarged image on hover*/
	visibility: visible; 
	width: 200px;
	top: 5px; /* use IF IE6 style to correct IE6 positions of larger image relative to thumb */
	left: 300px;/*position where enlarged image should offset horizontally */
}

/*THUMBNAIL2 - thumbnail2 has border and border on hover*/

.thumbnail2 {
	position: relative;
	float: left;
	padding: 5px;
	/*z-index: 0;*/
}

.thumbnail2:hover { 
	background-color: #e9e9e2;
	/*z-index: 50;*/
	color: #335500;
	text-decoration: none;
}

.thumbnail2 span { /*CSS for enlarged image*/
	position: absolute;
	background-color: #e5e5e5;
	padding: 5px;
	/*left: -1000px;*/
	border: 1px solid #666;
	visibility: hidden;
	color: black;
	text-decoration: none;
}

.thumbnail2 span img { /*CSS for enlarged image*/
	border-width: 0px;
	/*padding: 2px;*/
}

.thumbnail2:hover span { /*CSS for enlarged image on hover*/
	visibility: visible; width: 208px;
	top: 5px; /* use IF IE6 style to correct IE6 positions of larger image relative to thumb */
	left: 300px;/*position where enlarged image should offset horizontally */
}

a.thumbnail2 img { 
	text-decoration:none;
	z-index: 50; 
}

/*if same attribute for all 4 states, then declare here in
a.thumbnail2*/ 

a.thumbnail2 img:link { 
	border: 2px solid #e9e9e2; 
	background: transparent; 
}

a.thumbnail2 img:visited { 
	border: 2px solid #e9e9e2; 
	background : transparent; 
}

a.thumbnail2 img:hover { 
	border: 2px solid #f00; 
	background : transparent; 
}

a.thumbnail2 img:active { 
	border: 2px solid #e9e9e2; 
	background : transparent; 
}

a.thumbnail2 img { 
	border: 2px solid #e9e9e2; 
}

/*end of hover popup links*/
