/*
login.css
http://hostclipse.com/blog/2011/07/17/freebie-sleek-css3-register-and-login-forms/
css for the login and signup pages.
mainly used for button styling.
*/
.wrapper {
	width: 960px;
	margin: 50px auto;
}

.form1 {
	width: 40%;
	margin-left: 30%;
	margin-right: 30%;
	/*padding: 10px;*/
	background: #fff;
	color: #777;
	-webkit-box-shadow: 0px 0px 8px 2px #d1d1d1;
	-moz-box-shadow: 0px 0px 8px 2px #d1d1d1;
	box-shadow: 0px 0px 8px 2px #d1d1d1;
	-webkit-border-top-left-radius: 0px;
	-webkit-border-top-right-radius: 0px;
	-webkit-border-bottom-right-radius: 6px;
	-webkit-border-bottom-left-radius: 6px;
	-moz-border-radius-topleft: 0px;
	-moz-border-radius-topright: 0px;
	-moz-border-radius-bottomright: 6px;
	-moz-border-radius-bottomleft: 6px;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	border-bottom-right-radius: 6px;
	border-bottom-left-radius: 6px;
	overflow: hidden;
}

.form1 p{
	padding-left: 10px;

}

.formtitle {
	padding: 5px;
	line-height: 25px;
	font-size: 16px;
	text-shadow: -1px -1px #00548f;
	color: #fff;
	font-weight: bold;
	letter-spacing: 0.1em;

	border-bottom: 1px solid #00548f;
	width: 100%;
	background: #00548f; /* Old browsers */
	background: -moz-linear-gradient(top, #378fcd 0%, #2a6e9d 50%, #00548f 51%, #00548f 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#378fcd), color-stop(50%,#2a6e9d), color-stop(51%,#00548f), color-stop(100%,#00548f)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #378fcd 0%,#2a6e9d 50%,#00548f 51%,#00548f 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #378fcd 0%,#2a6e9d 50%,#00548f 51%,#00548f 100%); /* Opera11.10+ */
	background: -ms-linear-gradient(top, #378fcd 0%,#2a6e9d 50%,#00548f 51%,#00548f 100%); /* IE10+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#378fcd', endColorstr='#00548f',GradientType=0 ); /* IE6-9 */
	background: linear-gradient(top, #378fcd 0%,#2a6e9d 50%,#00548f 51%,#00548f 100%); /* W3C */
}

.input {
	width: 100%;
	border-bottom: 1px solid #ddd;
	margin-bottom: 10px;
	padding-left: 10px;
	margin: 20px;
	overflow: hidden;
}

.inputtext {
	float: left;
	line-height: 18px;
	height: 35px;
	font-size: 14px;
	width: 120px;
}

.inputcontent {
	float: left;
	width: 290px;
	height: 50px;
}

.inputcontent input {
	padding: 5px;
	height: 18px;
	width: 200px;
	line-height: 18px;
	border: 1px solid #c7c7c7;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	color: #777;
}

.inputcontent a {
	color: #0084ff;
	font-size: 12px;
	text-decoration: none;
	line-height: 12px;
}

.nobottomborder {
	border-bottom: 0;
}

.buttons {
	background: #f1f1f1;
	border-top: 1px solid #ddd;
	padding: 15px;
	height: 34px;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	/*vertical-align: bottom;*/
}

#content .buttons input{
	max-width:90px;
	width: 90px
}

.greybutton {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;

	background: #e1e1e1; /* Old browsers */
	background: -moz-linear-gradient(top, #e1e1e1 0%, #bababa 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e1e1e1), color-stop(100%,#bababa)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #e1e1e1 0%,#bababa 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #e1e1e1 0%,#bababa 100%); /* Opera11.10+ */
	background: -ms-linear-gradient(top, #e1e1e1 0%,#bababa 100%); /* IE10+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e1e1e1', endColorstr='#bababa',GradientType=0 ); /* IE6-9 */
	background: linear-gradient(top, #e1e1e1 0%,#bababa 100%); /* W3C */ 
	border: 1px solid #bababa;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px; 
	line-height: 20px;
	font-size: 16px;
	padding: 6px 12px;
	color: #fff;
	text-shadow: -1px -1px #bababa;
	/*float: right;*/
	margin-left: 10px;
	margin-right: 10px;
	/*margin-top: 8px;*/
	cursor: pointer;
}


.greybutton:enabled:hover{
	background: #bababa; /* Old browsers */
	background: -moz-linear-gradient(top, #bababa 0%, #e1e1e1 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#bababa), color-stop(100%,#e1e1e1)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #bababa 0%,#e1e1e1 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #bababa 0%,#e1e1e1 100%); /* Opera11.10+ */
	background: -ms-linear-gradient(top, #bababa 0%,#e1e1e1 100%); /* IE10+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bababa', endColorstr='#e1e1e1',GradientType=0 ); /* IE6-9 */
	background: linear-gradient(top, #bababa 0%,#e1e1e1 100%); /* W3C */ 
}

.bluebutton {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;

	background: #378fcd; /* Old browsers */
	background: -moz-linear-gradient(top, #378fcd 0%, #00548f 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#378fcd), color-stop(100%,#00548f)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #378fcd 0%,#00548f 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #378fcd 0%,#00548f 100%); /* Opera11.10+ */
	background: -ms-linear-gradient(top, #378fcd 0%,#00548f 100%); /* IE10+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#378fcd', endColorstr='#00548f',GradientType=0 ); /* IE6-9 */
	background: linear-gradient(top, #378fcd 0%,#00548f 100%); /* W3C */
	border: 1px solid #00548f;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px; 
	line-height: 20px;
	font-size: 16px;
	padding: 6px 12px;
	color: #fff;
	text-shadow: -1px -1px #00548f;
	/*float: right;*/
	/*margin-left: 10px;*/
	/*margin-bottom: 10px;*/
	margin-right: 10px;
	/*margin-top: 8px;*/
	cursor: pointer;
}

.bluebutton:enabled:hover{
	background: #00548f; /* Old browsers */
	background: -moz-linear-gradient(top, #00548f 0%, #00548f 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#00548f), color-stop(100%,#00548f)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #00548f 0%,#00548f 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #00548f 0%,#00548f 100%); /* Opera11.10+ */
	background: -ms-linear-gradient(top, #00548f 0%,#00548f 100%); /* IE10+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00548f', endColorstr='#00548f',GradientType=0 ); /* IE6-9 */
	background: linear-gradient(top, #00548f 0%,#00548f 100%); /* W3C */
}

.textarea {
	padding: 5px;
	height: 100px;
	width: 200px;
	line-height: 18px;
	border: 1px solid #c7c7c7;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	color: #777;
}

.inputtextbox {
	width: 410px;
	margin-bottom: 10px;
	margin: 20px;
	overflow: hidden;

}

.inputtextbox .inputcontent {
	height: 114px;
}

label { 
	display: block; 
	width: 10em; 
	float: left; 
}

.right{
	float: right;
}

.left{
	float: left;
}