
body {
	margin: 0;
	padding: 0;
	background: #f4f4f4;
	font-family: "Helvetica Neue" ,Helvetica, Arial,sans-serif;
}

.link { text-align: center; clear: both; padding: 20px 0; }
.link a { color: #333333; }

.wrapper {
	width: 960px;
	margin: 50px auto;
}


.header {
	text-align: center;
    height:100px;
    background:#00548f;
	padding-top: 20px;
	padding-bottom: 20px; 
	margin-bottom: 20px;
	text-transform: uppercase;
}
	
	.title
	{
		padding-left: 50px;
		padding-right: 50px;
		vertical-align: center;
		letter-spacing: 0.20em;
		font-weight: 700;
		font-size: 40px;
		color: white;
	}
	
	.byline
	{
		letter-spacing: 0.15em;
		text-transform: uppercase;
		font-weight: 400;
		font-size: 25px;
		color: #ababab;
	}

.content {
    /*width:960px;*/
    background: #F0F0F0;
    border: 1px solid #CCC;
    height: 2000px;
    margin: 20px auto;
   	font: 14px;

}

/*sidebar*/

#sidebar
	{
		float: left;
		width: 250px;
		background:#00548f;
		margin-left: 20px;
		padding-left: 20px;
		color: white;
	}

#sidebar .head h2
	{
		font-size: 1.6em;
	}
	
#sidebar .box
	{
		margin-bottom: 3em;
	}

#sidebar a{
	color: white;
	text-decoration: none;
}

ul.style1
	{
		margin: 0;
		padding: 10px;
		list-style: none;
	}
	
ul.style1 li
	{
		border-top: solid 1px #ababab;
		padding: 0.80em 0;
	}
	
ul.style1 li:first-child
	{
		border-top: 0;
		padding-top: 0;
	}