{%extends "plain_base.html"%}
{%block head%}
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js">
</script>
<script>
var hid=false;
$(document).ready(function(){
    $('#hideshow').click(function(event) {    
        $('#sidebar').toggle('show');
        if (hid)	{
        	// alert("showing");
        	$('#hideshow').attr('src','/static/hidebutton.png'); 
        	$('#hideshow').attr('alt','Hide'); 
        	$('#hideshow').attr('title','Hide Sidebar'); 


        	hid=false;
        }
        else {
        	// alert("hiding");
        	$('#hideshow').attr('src','/static/showbutton.png');
        	$('#hideshow').attr('alt','Show'); 
        	$('#hideshow').attr('title','Show Sidebar');
        	hid=true;
        }
    });
});
</script>

{%endblock%}
{%block sidebar%}
<!-- sidebar -->
	<div id='sidebar'>
		<div class="box">
			<div class="head">
				<h2>View</h2>
			</div>
			<ul class="style1">
				<li><a href="/accounts/profile/">Your Profile</a></li>
				<li><a href="/competition/schools">Schools</a></li>
				<li><a href="/competition/students">Students</a></li>
				<li><a href="/competition/invigilators">Invigilators</a></li>

			</ul>
		</div>

		<div class="box">
			<div class="head">
				<h2>Register</h2>
			</div>
			<ul class="style1">
				<li><a href="/competition/register/schools/">Schools</a></li>
				<li><a href="/competition/register/students/">Students</a></li>
				<li><a href="/competition/register/invigilators/">Invigilators</a></li>
				{% if admin%}
				<li><a href="/competition/register/venues/">Venues</a></li>
				{%endif%}

			</ul>
		</div>
	</div>

	<div id='hide'>
		<input type='image' width='30' id='hideshow' src='/static/hidebutton.png' title="Hide Sidebar" alt="Hide">
	</div>

{%endblock%}