{%extends "plain_base.html"%}


{%block control%}
<div id='control' style='height:1.5em'>
	<a href='/accounts/login' style='color:white'>Log in</a>
	<a href='/accounts/signup' style='color:white'>Sign up</a>
</div>
{%endblock%}

{%block content%}

<p align="center">
THIS IS A TEMP FILE THAT SHOULD HOLD BASIC INFORMATION ABOUT THE COMPETITION AND  <br>
THINGS THAT YOU SHOULD SEE ON THE HOME PAGE BEFORE YOU LOG IN. IDK. STUFF.
</p>
{%endblock%}

{%block title%}UCT Mathematics Competition{%endblock%}