{%extends "base.html"%}
<!-- base.html contains the sidebar and header -->

{%block title%}Registered Invigilators{%endblock%}

{%block content%}
    <h1>Registered Invigilator</h1>

    <form action="." method="post">
        {% csrf_token %}
        <!-- {{ form.as_p }} -->
        <table>
         <tr>
                <th>School</th>
                <th>First Name</th>
                <th>Surname</th>
                <th>Grade</th>
                <th>Venue</th>
                <th>Invig/Reg</th>
                <th>Phone (h)</th>
                <th>Phone (w)</th>
                <th>Fax (h)</th>
                <th>Fax (w)</th>
                <th>Email</th>
                <th>Responsible</th>
            </tr>
            {%for i in invigilators%}
            <tr>
                <td>{{i.school}}</td>
                <td>{{i.firstname}}</td>
                <td>{{i.surname}}</td>
                <td>{{i.grade}}</td>
                <td>{{i.venue}}</td>
                <td>{{i.inv_reg}}</td>
                <td>{{i.phone_h}}</td>
                <td>{{i.phone_w}}</td>
                <td>{{i.fax_h}}</td>
                <td>{{i.fax_w}}</td>
                <td>{{i.email}}</td>
                <td>{{i.responsible}}</td>
            </tr>
            {%endfor%}

        </table>

    </form>
{%endblock%}>
