{%extends "base.html"%}
<!-- base.html contains the sidebar and header -->

{%block title%}Invigilators{%endblock%}

{%block content%}
    <h1>Adding Invigilator</h1>

    <form action="." method="post">
        {% csrf_token %}
        <!-- {{ form.as_p }} -->
       <p>School: <select name = "school">
            {% for entry in schools %}
                <option value="{{ entry.id }}">{{ entry.name }}</option>
            {% endfor %}
        </select></p>
        <p>First Name: <input type="text" name="firstname"></p>
        <p>Surname: <input type="text" name="surname"></p>
        <p>Grade: <input type ="text" name="grade"></p>
        <p>Venue: <select name = "venue">
            <option value="70">TBD</option>
        </select></p></p>
        <p>Invig_reg: <select name = "inv_reg">
            <option value="i">Invigilator</option>
            <option value="r">Registrator</option>
         </select></p></p>
        <p>Phone (h): <input type ="text" name="phone_h"></p>
        <p>Phone (w): <input type ="text" name="phone_w"></p>
        <p>Fax (h): <input type ="text" name="fax"></p>
        <p>Fax (w): <input type ="text" name="fax_w"></p>
        <p>Email: <input type ="text" name="email"></p>
        <p>Responsible: <input type ="text" name="responsible"></p>



        
        <input type="submit" value="Submit">
    </form>
{%endblock%}>
