{%extends "base.html"%}

{%block head%}
<script src='//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js'></script>
<script type='text/javascript' src='/static/sidebar.js'></script>
<script type='text/javascript' src='/static/tables.js'></script>
{%endblock%}
{%block title%}New Students{%endblock%}
{%block content%}
<h1 >Student registration form for {{schooln}}</h1>
<p> {{ error }} </p>
<form action='.' method='post' > <!-- onsubmit='return validate();'> -->
    {% csrf_token %}
    <!-- {{ form.as_p  }} -->
    {% if user.is_authenticated %}
    {% else %}
        <p>Not working.</p>
    {% endif %}

    <!-- For "Confirm your school's language? -->
    <p> Please confirm your school's preferred language. </p>
    <select name = "language">
        <option value="e">English</option>
        <option value="a">Afrikaans</option>
    </select>

    <!-- register responsible teacher from here --->
    <div>
        <h1>Register Responsible Teacher</h1>
        <p>The responsible teacher may be contacted by the university on administrative matters. Compulsory 1 per school.<br><i> All fields marked with an <b>asterisk (*) must be filled.</b></i></p>
        <p> {{ ierror }} </p>
        {% csrf_token %}

        <table>
            <tr>
                <th>First Name*</th>
                <th>Surname</th>
                <th>Phone*</th>
                <th>Phone (Alternative)</th>
                <th>Email* </th>
            </tr>
            <tr>	<!-- the required attribute does not work with IE9 and lower -->
                <td><input type="text" name="rt_firstname" required></td>
                <td><input type="text" name="rt_surname"></td>
                <td><input type ="text" name="rt_phone_primary" required></td>                    
                <td><input type ="text" name="rt_phone_alt"></td>
                <td><input id="rmail" type ="text" name="rt_email" required></td>
                <input type ="hidden" name="rt_registered_by" value ={{ user.id }} >
            </tr>

        </table>
    </div>



    <!-- register invigilators from here -->
    <div>
        <h1>Register Invigilators</h1>
        <p>Please note that every school must send at least 1 Invigilator and that if the responsible teacher is going to invigilate kindly add your name to the Invigilators list. <br> Compulsory 1 per school, 2 if 75 entries.<br><i> All fields marked with an <b>asterisk (*) must be filled.</b></i></p>
        <p> {{ ierror }} </p>
        {% csrf_token %}

        <table>
            <tr>
                <!-- <th>School</th> -->
                <th>First Name*</th>
                <th>Surname</th>
                <!-- <th>Venue</th> -->
				<th>Phone* </th>
				<th>Phone (Alternative)</th>
				<th>Email* </th>
            </tr>
            <!-- Populates the list with previously registered invigilators -->
            {%for invigilator in invigilator_list%}
                <tr>
                    <td>{{invigilator.firstname}}</td>
                    <td>{{invigilator.surname}}</td>
                    <td>{{invigilator.phone_primary}}</td>
                    <td>{{invigilator.phone_alt}}</td>
                    <td>{{invigilator.email}}</td>
                </tr>
            {%endfor%}
            <!-- Fills out remaining fields -->
            {%for invigilator in invigilator_range%}
                <tr>
                    <td><input type="text" name="inv_firstname"></td>
                    <td><input type="text" name="inv_surname"></td>
                    <td><input type ="text" name="inv_phone_primary"></td>                    
                    <td><input type ="text" name="inv_phone_alt"></td>
                    <td><input type ="text" name="inv_email"></td>
                    <input type ="hidden" name="inv_registered_by" value ={{ user.id }} >
                </tr>
            {%endfor%}

        </table>


    </div>

    {%for grade in grades%}
    <div>
        <!-- <form action="." method="post"> -->
        <h2>Grade {{grade}}</h2>
        <div>
            <h3>Pairs:
            <select name = "pairs">
                {%for p in pairs_per_grade%}
                <option value='{{p}}'>{{p}}</option>
                {%endfor%}
            </select>
            </h3>
        </div> 

        <h3>Individuals:</h3>
        <table>
        <tr>
            <th>Name*</th>
            <th>Surname</th>
        </tr>
        <!-- Populates the list with previously registered students -->
        {%for key, student_l in student_list.items%}
            {% if grade == key %} <!-- only for the current grade -->
                {%for student in student_l%}
                <tr>
                    <td>{{student.firstname}}</td>
                    <td>{{student.surname}}</td>
                </tr>
                {%endfor%}
            {%endif%}
        {%endfor%}

        {%for key, entry_range in entries_per_grade.items%}
            {% if grade == key %}
                {% for entry in entry_range %}
                <tr>
                  <td><input type="text" name="firstname"></td>
                  <td><input type="text" name="surname"></td>
                  <input type='hidden' name='grade' value='{{grade}}'>
                  <input type ="hidden" name="registered_by" value ={{ user.id }} >
                </tr>
                {%endfor%}
            {%endif%}
        {%endfor%}

        </table>
        <br><br>
    </div>
    {%endfor%} <!-- endfor grade -->
	<div id='alert'>
		<input type="checkbox" name="confirm" align="left" onclick="disableElement(this)"> Have you confirmed that all the information entered is correct? <br> </br>
	</div>
	<input class="bluebutton left" type="submit" name='save_form' value="Save">
    <input class="bluebutton left" id='complete' type="submit" name='submit_form' value="Submit" disabled>

    </form>
{%endblock%}
