{%extends "base.html"%}

{%block title%}New Students{%endblock%}
{%block content%}
<h1 >Register Students for a School</h1>
<p> {{ error }} </p>
<form action="." method="post">
    {% csrf_token %}
    <!-- {{ form.as_p  }} -->
    {% if user.is_authenticated %}
    {% else %}
        <p>Not working.</p>
    {% endif %}
    <select name = "school">
        {% for school in schools %}
            <option value="{{ school.id }}">{{ school.name }}</option>
        {% endfor %}
    </select>

    <select name = "language">
        <option value="e">English</option>
        <option value="a">Afrikaans</option>
    </select>

    <!-- register responsible teacher from here --->
    <div>
        <h1>Register Responsible Teacher</h1>
        <p>blurb about the role of... Compulsory 1 per school.</p>
        <p> {{ ierror }} </p>
        {% csrf_token %}

        <table>
            <tr>
                <th>First Name</th>
                <th>Surname</th>
                <th>Phone </th>
                <th>Phone (Alternative)</th>
                <th>Email </th>
            </tr>
            <tr>
                <td><input type="text" name="rt_firstname"></td>
                <td><input type="text" name="rt_surname"></td>
                <td><input type ="text" name="rt_phone_primary"></td>                    
                <td><input type ="text" name="rt_phone_alt"></td>
                <td><input type ="text" name="rt_email"></td>
                <input type ="hidden" name="rt_registered_by" value ={{ user.id }} >
            </tr>

        </table>
    </div>



    <!-- register invigilators from here -->
    <div>
        <h1>Register New Invigilators</h1>
        <p>blurb about invigilators. Compulsory 1 per school, 2 if 75 entries.</p>
        <p> {{ ierror }} </p>
        {% csrf_token %}

        <table>
            <tr>
                <!-- <th>School</th> -->
                <th>First Name</th>
                <th>Surname</th>
                <!-- <th>Venue</th> -->
                <th>Invig/Reg</th>
                <th>Phone (h)</th>
                <th>Phone (w)</th>
                <th>Fax (h)</th>
                <th>Fax (w)</th>
                <th>Email</th>
				<th>Responsible</th>
            </tr>
            {%for i in range%}
                <tr>
                    <!-- <td>
                        <select name = "school">
                            {% for entry in schools %}
                                <option value="{{ entry.id }}">{{ entry.name }}</option>
                            {% endfor %}
                        </select>
                    </td> -->
                    <td><input type="text" name="inv_firstname"></td>
                    <td><input type="text" name="inv_surname"></td>
                    <!-- <td>
                        <select name = "venue">
                            <option value="70">TBD</option>
                        </select>
                    </td> -->
                    <!-- <td>
                        <select name = "inv_reg">
                            <option value="i">Invigilator</option>
                            <option value="r">Registrator</option>
                        </select>
                    </td> -->
                    <td><input type ="text" name="inv_phone_primary"></td>                    
                    <td><input type ="text" name="inv_phone_alt"></td>
                    <td><input type ="text" name="inv_email"></td>
					<td><input type ="text" name="inv_responsible"></td>
                    <input type ="hidden" name="inv_registered_by" value ={{ user.id }} >
                </tr>
            {%endfor%}

        </table>

        <!-- <p>School: <select name = "school">
            {% for entry in schools %}
                <option value="{{ entry.id }}">{{ entry.name }}</option>
            {% endfor %}
        </select></p>
        <p>First Name: <input type="text" name="firstname"></p>
        <p>Surname: <input type="text" name="surname"></p>
        <p>Grade: <input type ="text" name="grade"></p>
        <p>Venue: <select name = "venue">
            <option value="70">TBD</option>
        </select></p></p>
        <p>Invig_reg: <select name = "inv_reg">
            <option value="i">Invigilator</option>
            <option value="r">Registrator</option>
         </select></p></p>
        <p>Phone (h): <input type ="text" name="phone_h"></p>
        <p>Phone (w): <input type ="text" name="phone_w"></p>
        <p>Fax (h): <input type ="text" name="fax"></p>
        <p>Fax (w): <input type ="text" name="fax_w"></p>
        <p>Email: <input type ="text" name="email"></p>
        <p>Responsible: <input type ="text" name="responsible"></p> -->

    </div>

    {%for grade in grades%}
    <div>
        <!-- <form action="." method="post"> -->
        <h2>Grade {{grade}}</h2>
        <div>
            <h3>Pairs:
            <select name = "pairs">
                {%for p in pairs_per_grade%}
                <option value='{{p}}'>{{p}}</option>
                {%endfor%}
            </select>
            </h3>
        </div> 

        <h3>Individuals:</h3>
        <table>
        <tr>
            <th>Name</th>
            <th>Surname</th>
            <th>Sex</th>
        </tr>
        {%for entry in entries_per_grade%}
        <tr>
            <td><input type="text" name="firstname"></td>

            <td><input type="text" name="surname"></td>
            <td>
                <select name = "sex">
                    <!-- <option value=''>---</option> -->
                    <option value='f'>Female</option>
                    <option value='m'>Male</option>
                </select>

                <!-- <input type ="text" name="sex"> -->
            </td>

          <input type='hidden' name='grade' value='{{grade}}'>
          <input type ="hidden" name="registered_by" value ={{ user.id }} >
        </tr>
        {%endfor%}

        </table> 

        <br><br>
    </div>
    {%endfor%} <!-- endfor grade -->
    <input class="bluebutton left" type="submit" name='{{grade}}' value="Submit">

    </form>
   
{%endblock%}
