{% extends "base.html" %}
<!-- base.html contains the sidebar and header -->

{%block title%}Schools{%endblock%}
{% block content %}
    <h1>Register New Schools</h1>

    <form action="." method="post">
        {% csrf_token %}
        <!-- {{ form.as_p }} -->


        <table>
        <tr>
            <th>Name</th>
            <th>Language</th>
            <th>Address</th>
            <th>Phone</th>
            <th>Fax</th>
            <th>Contact</th>
            <th>Email</th>
        </tr>
        {%for i in range%}
        <tr>
            <td><input type="text" name="name"></td>
            <td><select name = "language">
                <option value="a">Afrikaans</option>
                <option value="e">English</option>
            </select></td>
            <td><input type ="text" name="address"></td>
            <td><input type ="text" name="phone"></td>
            <td><input type ="text" name="fax"></td>
            <td><input type ="text" name="contact"></td>
            <td><input type ="text" name="email"></td>
        </tr>
        {%endfor%}
    </table>
    <input class="bluebutton left" type="submit" value="Submit">


        <!-- <p>Name: <input type="text" name="name"></p>
        <p>Language: <select name = "language">
            <option value="a">Afrikaans</option>
            <option value="e">English</option>
         </select></p></p>
        <p>Address: <input type ="text" name="address"></p>
        <p>Phone: <input type ="text" name="phone"></p>
        <p>Fax: <input type ="text" name="fax"></p>
        <p>Contact: <input type ="text" name="contact"></p>
        <p>Email: <input type ="text" name="email"></p>
         -->
    </form>
{%endblock%}
