{% load url from future %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<!-- the base for all the html files. 
	contains the header and blocks for content and headers and the title. -->

<html xmlns="http://www.w3.org/1999/xhtml">

<head>
	<link rel="shortcut icon" href="/static/maths.ico">
 	<link rel="stylesheet" href="/static/style.css" type="text/css" />
 	<title>
	 	{% block title%}
		{% endblock %}
	</title>
	
	{% block head%}
	{% endblock %}
</head>

<body>
	<!-- header -->
	<div class="header">

		<table align='center'>
		<tr>
			<td><img src='/static/uct.gif' width='130'align='left' padding='100'/></td>
			<td><div class='title'>UCT Mathematics Competition</div>
				<div class="byline">Registration Portal</div>
			</td>
			<td><img src="/static/maths.gif" width='70'/></td>
		</tr>
		</table>
		
	</div>
	
	{%block control%}
	<div id='control'></div>
	{%endblock%}	
	

	{%block sidebar%}		{%endblock%}
	

	<!-- content -->
	<div id='content'>
	{% block content %}
    {% endblock %}
	</div>

</body>
</html>
