<table width="550">

<tr>
<td>
    <div>
        <table>
            <tr>
            <td>
            <h1>UCT Mathematics Competition</h1>
            <H2>Entry confirmation for {{schooln}}</H2>
            </td>
            
            <td>
                <table border="0.2" width="165">
                    <tr align="center">
                        <th>Grade:</th>
                        <th><b>8</b></th>
                        <th><b>9</b></th>
                        <th><b>10</b></th>
                        <th><b>11</b></th>
                        <th><b>12</b></th>
                    </tr>
                    <tr align="center">
                        <th width="80">Individuals:</th>
                        {%for grd in grades%}
                        {%for key, s in student_list.items%}
                        {% if grd == key %}
                        <td align="center">{{s|length}}</td>
                        {%endif%}
                        {%endfor%}
                        {%endfor%}
                    </tr>
                    <tr align="center">
                        <th width="80">Pairs:</th>
                        {%for grd in grades%}
                        {%for key, p in pair_list.items%}
                        {% if grd == key %}
                        <td align="center">{{p}}</td>
                        {%endif%}
                        {%endfor%}
                        {%endfor%}
                    </tr>
                </table>
            </td>
            </tr>
            <tr>
                <td>
                <br>
                <b>Generated: {{timestamp}}</b>
                </td>
                <td>
                <br>
                <b>Total number of students: {{total_num}}</b> 
                </td>
            </tr>
        </table>
        <!-- register responsible teacher from here --->
    </div>

    <div>
        <h2>Responsible Teacher</h2>
        {% csrf_token %}
        <table border="0.1" width="500">
            <tr>
                <th>First Name</th>
                <th>Surname</th>
                <th>Phone </th>
                <th>Phone (Alternative)</th>
                <th>Email </th>
            </tr>
            <tr>
                <td>{{responsible_teacher.firstname}}</td>
                <td>{{responsible_teacher.surname}}</td>
                <td>{{responsible_teacher.phone_primary}}</td>
                <td>{{responsible_teacher.phone_alt}}</td>
                <td>{{responsible_teacher.email}}</td>
            </tr>
        </table>
    </div>
    <!-- register invigilators from here -->
    <div>
        <br>
        <h2>Registered Invigilators</h2>
        <p>Note that 2 are compulsorty if 75 students have been registered</p>
        <p> {{ ierror }} </p>
        {% csrf_token %}
        <table border="0.1" width="500">
            <tr>
                <th>First Name</th>
                <th>Surname</th>
                <th>Phone </th>
                <th>Phone (Alternative)</th>
                <th>Email </th>
            </tr>
            <!-- Populates the list with previously registered invigilators -->
            {%for invigilator in invigilator_list%}
                <tr>
                    <td>{{invigilator.firstname}}</td>
                    <td>{{invigilator.surname}}</td>
                    <td>{{invigilator.phone_primary}}</td>                    
                    <td>{{invigilator.phone_alt}}</td>
                    <td>{{invigilator.email}}</td>
                </tr>
            {%endfor%}
        </table>

    </div>
    <!-- <h3>Registered Participants</h3> -->
    
    <table>
        {% for grade in grade_left %}
        <tr>
            <td>
                <div>
                <br>
                <p><b>Registered Grade {{grade}} participants:</b></p>
                <table border="0.1" width="180">
                <tr>
                <th>First Name</th>
                <th>Surname</th>
                </tr>
                <!-- Populates the list with previously registered students -->
                {%for key, student_l in student_list.items%}
                {% if grade == key %} <!-- only for the current grade -->
                {%for student in student_l%}
                <tr>
                <td>{{student.firstname}}</td>
                <td>{{student.surname}}</td>
                </tr>
                {%endfor%}
                {%endif%}
                {%endfor%}
                </table>        
                <div>
                {%for key, p in pair_list.items%}
                {% if grade == key %}
                <p><b> {{p}} pairs </b> (teams of 2) have been registered for grade {{grade}}. </p>
                {%endif%}
                {%endfor%}
                </div> 
                </div>
            </td>
            
            {% if grade|add:3 < 13 %}
            <td>
                <div>
                <br>
                <p><b>Registered Grade {{grade|add:3}} participants:</b></p>
                <table border="0.1" width="180">
                <tr>
                <th>First Name</th>
                <th>Surname</th>
                </tr>
                <!-- Populates the list with previously registered students -->
                {%for key, student_l in student_list.items%}
                {% if grade|add:3 == key %} <!-- only for the current grade -->
                {%for student in student_l%}
                <tr>
                <td>{{student.firstname}}</td>
                <td>{{student.surname}}</td>
                </tr>
                {%endfor%}
                {%endif%}
                {%endfor%}
                </table>        
                <div>
                {%for key, p in pair_list.items%}
                {% if grade|add:3 == key %}
                <p><b> {{p}} pairs </b> (teams of 2) have been registered for grade {{grade|add:3}}. </p>
                {%endif%}
                {%endfor%}
                </div> 
                </div>
            </td>
            {% endif %}
        </tr>

    {%endfor%} <!-- endfor grade -->
    </table>
    <p>Please remember that it is your responsibility to ensure that accurate information has been entered. You will be able to edit your school's entry up until the closing date for new entries to the competition. </p>
    </form>
    </td>
    </tr>
    </table>
    <br><br><br><br>
