<html>
<head>
    <title>Adding Student</title>
</head>
<body>
    <h1>Adding Students</h1>

    <form action="." method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <p>Name: <input type="text" name="firstname"></p>
        <p>Surname: <input type="text" name="surname"></p>
        <p>Language: <select name = "language">
            <option value="a">Afrikaans</option>
            <option value="e">English</option>
         </select></p></p>
        <p>School: <select name = "school">
            {% for entry in schools %}
                <option value="{{ entry.id }}">{{ entry.name }}</option>
            {% endfor %}
        </select></p>
        <p>Grade: <input type ="text" name="grade"></p>
        <p>Sex: <input type ="text" name="sex"></p>
        <!-- <p>Sex: <select name = "language">
            <option value="f">Female</option>
            <option value="m">Male</option>
            <option value="n">Not Disclosed</option>
        </select></p></p></p>-->

        
        <input type="submit" value="Submit">
    </form>
</body>
</html>