<html>
<head>
    <title>Adding Student</title>
</head>
<body>
    <h1>Adding Students</h1>

    <form method="post">
        {% csrf_token %}
        {{ form1.as_p }}

      {% for i in "xx" %}      
        <p>Name: <input type="text" name="firstname"></p>
        <p>Surname: <input type="text" name="surname"></p>
        <p>Language: <select name = "language">
            <option value="a">Afrikaans</option>
            <option value="e">English</option>
         </select></p></p>
        <p>School: <select name = "school">
            {% for entry in schools %}
                <option value="{{ entry.id }}">{{ entry.name }}</option>
            {% endfor %}
        </select></p>
        <p>Grade: <input type ="text" name="grade"></p>
        <p>Sex: <input type ="text" name="sex"></p>
      {% endfor %}

         <button type="submit" name="submit">Submit</button>
    </form>

    <!--Displaying all the Student info -->
  <!--   <form method="post">
        {% csrf_token %}
        {{ form2.as_p }}
    <p>Name: <input type="text" name="firstname2"></p>
        <p>Student Info:  
            {% for entry in student %}
               {{ entry.firstname }}
               {{ entry.surname }}
               {{ entry.language }}
               {{ entry.reference}}
               {{ entry.score }}
               {{ entry.rank }}
               {{ entry.grade }}
               {{ entry.sex }}
               {{ entry.venue }}
            {% endfor %}<p>
           <button type="submit" name="filter">Filter</button>
    </form> -->
</body>
</html>