{% extends "base.html" %}
<!-- base.html contains the sidebar and header -->

{%block title%}Schools{%endblock%}
{% block content %}
    <h1>Adding School</h1>

    <form action="." method="post">
        {% csrf_token %}
        <!-- {{ form.as_p }} -->
        <p>Name: <input type="text" name="name"></p>
        <p>Language: <select name = "language">
            <option value="a">Afrikaans</option>
            <option value="e">English</option>
         </select></p></p>
        <p>Address: <input type ="text" name="address"></p>
        <p>Phone: <input type ="text" name="phone"></p>
        <p>Fax: <input type ="text" name="fax"></p>
        <p>Contact: <input type ="text" name="contact"></p>
        <p>Email: <input type ="text" name="email"></p>
        
        <input type="submit" value="Submit">
    </form>
{%endblock%}
