{% extends "base.html" %}
<!-- base.html contains the sidebar and header -->

{%block title%}Schools{%endblock%}
{% block content %}
    <h1>Registered Schools</h1>

    <form action="." method="post">
        {% csrf_token %}
        <!-- {{ form.as_p }} -->
        <table>
            <tr>
                <th>Name</th>
                <th>Language</th>
                <th>Address</th>
                <th>Phone</th>
                <th>Email</th>
                <th>Contact</th>
                <th>Fax</th>
            </tr>
            {%for s in schools%}
            <tr>
                <td>{{s.name}}</td>
                <td>{{s.language}}</td>
                <td>{{s.address}}</td>
                <td>{{s.phone}}</td>
                <td>{{s.email}}</td>
                <td>{{s.contact}}</td>
                <td>{{s.fax}}</td>
            </tr>
            {%endfor%}
        </table>
    </form>
{%endblock%}
