{%extends "base.html"%}
<!-- base.html contains the sidebar and header -->

{%block title%}Registered Students{%endblock%}
{%block content%}
    <h1>Registered Students</h1>
    <form action="." method="post">
        {% csrf_token %}
        <!-- {{ form.as_p }} -->
        <table>
            <tr>
                <th>First Name</th>
                <th>Surname</th>
                <th>Language</th>
                <th>School</th>
                <th>Grade</th>
                <th>Sex</th>
            </tr>
            {%for s in students%}
            <tr>
                <input type ="hidden" name="studentID" value ={{ s.id }} >
                <td><input type="text" name="firstname" value = "{{s.firstname}}"></td>
                <td><input type="text" name="surname" value = "{{s.surname}}"></td>
                <td>
                    {%if s.language == 'a'%}Afrikaans{%endif%}
                    {%if s.language == 'e'%}English{%endif%}
                </td>
                <td>{{s.school}}</td>
                <td>{{s.grade}}</td>
                <td>
                    {%if s.sex == 'f'%}Female{%endif%}
                    {%if s.sex == 'm'%}Male{%endif%}
                </td>
            </tr>
            {%endfor%}
        </table>
        <input class="bluebutton left" type="submit" value="Submit">
    </form>
{%endblock%}