<html>
<head>
    <title>Adding Student</title>
</head>
<body>
    <h1>Adding Students</h1>

    {% if errors %}
        <ul>
            {% for error in errors %}
             <p style="color: red;">ERROR</p>
            {% endfor %}
        </ul>
    {% endif %}

    <form action="." method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <p>Name: <input type="text" name="firstname"></p>
        <p>Surname: <input type="text" name="surname"></p>
        <p>Language: <input type ="text" name="language"></p>
        <p>Reference: <input type ="text" name="reference"></p>
        <p>School: <select name = "school"><option value="150">American Int. C T</option>
</select></p>
        <!-- <p>School: <input type ="checkbox" name="school"></p> -->
        <p>Grade: <input type ="text" name="grade"></p>
        <p>Sex: <input type ="text" name="sex"></p>

        
        <input type="submit" value="Submit">
    </form>
</body>
</html>