<html>
<head>
    <title>Testing Display venue</title>
</head>
<body>
    <h1>Testing Display venue</h1>

    {% if errors %}
        <ul>
            {% for error in errors %}
             <p style="color: red;">ERROR</p>
            {% endfor %}
        </ul>
    {% endif %}

    <form action="." method="post">
        {% csrf_token %}
        {{ form.as_p }}
           {% if user.is_authenticated %}
    <p>Welcome, {{ user.username }}. Thanks for logging in.</p>
{% else %}
    <p>Welcome, new user. Please log in.</p>
{% endif %}
<input type="text" name="building">
        <input type ="hidden" name="registered_by" value ={{ user.id }} >
        <p>Buidlings:
            {% for entry in temp %}
               {{ entry}}
              
            {% endfor %}
       </p>

        <input type="submit" value="Submit">
    </form>
</body>
</html>