{%extends "base.html"%}
<!-- base.html contains the sidebar and header -->

{%block title%}Registered Students{%endblock%}
{%block content%}
    <h1>Registered Students</h1>
    <form action="." method="post">
        {% csrf_token %}
        <!-- {{ form.as_p }} -->
        <table>
        <tr>
            <th>First Name</th>
            <th>Surname</th>
            <th>Language</th>
            <th>School</th>
            <th>Grade</th>
            <th>Sex</th>
        </tr>
        {%for s in students%}
        <tr>
            <td>{{s.firstname}}</td>
            <td>{{s.surname}}</td>
            <td>{{s.language}}</td>
            <td>{{s.school}}</td>
            <td>{{s.grade}}</td>
            <td>{{s.sex}}</td>
        </tr>
        {%endfor%}
        </table>
    </form>
{%endblock%}