{%extends 'base.html'%}
<!-- redirects here when new invigilators/students/schools are submitted. need 'type' in the context -->
{%block title%}Success - {{type}}{%endblock%}
{%block content%}
<h1>Application Submitted</h1>
</br> UCT Mathematics Competition registration completed but we were unable to send a confirmation email to your email address. Navigate to <b>'Entry Form'</b> to review or edit your changes. A summary of your entry is presented below.</br>
<div>
<h2> Application summary </h2>
{% for grade in school_summary_info %}
<p> <b> {{grade}} </b> </p>
{% endfor %}

<p> {{school_summary_statistics}} </p>
</div>

{%endblock%}
