{%extends "base.html"%} 
<!-- base.html contains the sidebar and header -->

{%block title%}Venues{%endblock%}

{%block content%}
    <h1>Venues</h1>

    <form action="." method="post">
        {% csrf_token %}
        <!-- {{ form.as_p }} -->
        <table>
            <tr>
                <th>Building</th>
                <th>Code</th>
                <th>Seats</th>
                <th>Bums</th>
                <th>Grade</th>
                <th>Pairs</th>
            </tr>
            {%for v in venues%}
            <tr>
                <td>{{v.building}}</td>
                <td>{{v.code}}</td>
                <td>{{v.seats}}</td>
                <td>{{v.bums}}</td>
                <td>{{v.grade}}</td>
                <td>{{v.pairs}}</td>

            </tr>
            {%endfor%}

        </table>
    </form>
{%endblock%}